body {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-style: normal;
  font-weight: bold;
  color: #084482;
}

.table .thead-dark th {
  background-color: #1eb8ff;
  color: #fff;
  border: none;
  font-size: 12px;
  line-height: 27px;
}

.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  background: #f6fcfd;
  font-size: 14px;
  text-align: center;
}

.avatar {
  width: 10%;
}

.amount-input {
  border: 1px solid #1eb8ff;
  border-radius: 10px;
  width: 30%;
  height: 30px;
  text-align: center;
}

.btn-outline-primary {
  color: #1eb8ff !important;
  border: 2px solid #1eb8ff !important;
  border-radius: 5px;
  font-weight: bold;
  width: 170px;
  transition: all 0.5s ease-in-out;
}

.btn-outline-primary:hover {
  color: #1eb8ff !important;
  background-color: #fff;
  transform: scale(0.9);
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.btn-primary {
  background-color: #1eb8ff;
  color: #fff !important;
  border: 2px solid #1eb8ff !important;
  border-radius: 5px;
  font-weight: bold;
  width: 170px;
  transition: all 0.5s ease-in-out;
}

.btn-primary:hover {
  color: #fff !important;
  background-color: #1eb8ff;
  transform: scale(0.9);
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.add-img {
  width: 9%;
}

.table {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}
