body {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-style: normal;
  font-weight: bold;
  color: #084482;
}

.table .thead-dark th {
  background-color: #1eb8ff;
  color: #fff;
  border: none;
  font-size: 12px;
  line-height: 27px;
}

.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  background: #f6fcfd;
  font-size: 12px;
}

.avatar {
  width: 10%;
}