.container > h2{
    font-size: 48px;
    color: navy;
    margin-top: 80px;
}
.form{
    margin-top: 30px;
}
input{
    padding: 5px 450px 5px 20px;
    border: solid blue;
}
.btn-primary{
    margin-top: 30px;
    margin-left: 430px;
    width: 20%;
}
.images{
    float: right;
    margin-top: -200px;
    margin-left: -40px;
    margin-right: -50px;
  
}
.rounded-circle{
    width: 190px;
    height: 190px;
}
#img-2{
    margin-top: -150px;
    margin-left:-60px ;
    margin-right: -70px;
}
#img-1{
    margin-left: 20px;
}
h1{
    color: navy;
    margin: 300px 0px 0px 50px;

}
.body-container > button{
    margin-left: 50px;
    margin-top: 50px;
}
.body-container >h1 {
    padding-right: 50px;
}

